.part1 {
    background-image: url("///home/nicky/Documents/IP3/img/backgrounds/h_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    box-sizing: content-box;
    text-align: center;
    padding: 60px 30px;
    height: 300px;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 10px;
}

#img1 {
    margin-bottom: -120px;
}

#logo {
    width: 50px;
    height: 50px;
    margin-top: 70.5px;
    position: 0px relative;
}

h2 {
    font-size: 30px;
    color: black;
}

.part2 {
    text-align: center;
    padding: 50px;
}

#about {
    font-size: 15px;
}

.part3 {
    background-image: url("///home/nicky/Documents/IP3-clone/IP3/assets/backgrounds/s_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 7%;
}

h3 {
    font-size: 23px;
    color: white;
    margin-top: 20px;
}

#service {
    font-size: 15px;
}

.part4 {
    text-align: center;
    padding: 4%;
}

#weDo {
    padding: 2%;
}

#title1,
#title2,
#title3 {
    font-size: 23px;
}

#desiPara,
#devPara,
#proPara {
    font-size: 15px;
}

label {
    font-size: 23px;
}

.part5 {
    text-align: center;
}

#portfolio1 {
    padding: 2%;
    justify-content: space-between;
    font-size: 30px;
}

#portfolio2 {
    padding: 2%;
    justify-content: space-between;
}

h4 {
    text-align: center;
    font-size: 27px;
}

h5 {
    text-align: center;
    font-size: 30px;
    color: black;
}

.part6 {
    background-image: url("///home/nicky/Documents/IP3-clone/IP3/assets/backgrounds/c_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: content-box;
    text-align: center;
    padding: 60px 30px;
    height: 370px;
}

#info {
    padding: 1%;
}

#name {
    height: 35px;
    width: 520px;
    background-image: url("///home/nicky/Documents/IP3-clone/IP3/assets/backgrounds/c_image.jpg");
    color: white;
}

#email {
    height: 35px;
    width: 310px;
    background-image: url("///home/nicky/Documents/IP3-clone/IP3/assets/backgrounds/c_image.jpg");
    color: white;
}

#info,
#textarea {
    background-color: transparent;
    color: white;
}

#button {
    display: flex;
    position: relative;
    margin-left: 900px;
}

h6 {
    color: white;
    font-size: 30px;
}

.lastPart {
    text-align: center;
    padding: 3%;
}

#year>p {
    text-align: center;
    font-size: 15px;
}